APP_BIND_IP=127.0.0.1
APP_PORT=3000

POSTGRES_USER=tinyapi
POSTGRES_DB=tinyapi
POSTGRES_PASSWORD=CHANGE_TO_A_LONG_RANDOM_PASSWORD

REDIS_PASSWORD=CHANGE_TO_A_DIFFERENT_LONG_RANDOM_PASSWORD
SESSION_SECRET=CHANGE_TO_A_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
CRYPTO_SECRET=CHANGE_TO_A_DIFFERENT_RANDOM_SECRET_AT_LEAST_32_CHARACTERS

TZ=Asia/Bangkok
NODE_NAME=tinyapi-vps-1
